@import 'variables.css';
@import 'independed_classes.css';

html, body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

#sidebar {
    width: var(--sidebar-width);
    z-index: var(--sidebar-z-index);
}

#content {
    padding: 40px 0 40px var(--sidebar-width);
    height: max-content;
}

.popover hr {
    margin: 3px 0;
}

code {
    background-color: #fee3;
    padding: 2px;
    border-radius: 3px;
}

table tr {
    vertical-align: middle;
}
tbody tr>* {
    max-width: 200px;
}
#alert{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1100;
}