@import 'variables.css';
@import 'independed_classes.css';
html, body {
    height: 100%;
}
body{
    background-color: #f5f5f5;
}
#sidebar{
    width: var(--sidebar-width);
}
#content {
    padding: 40px 0 40px var(--sidebar-width);
    height: max-content;
}
.popover hr{
    margin: 3px 0;
}
code{
    background-color: #fee3;
    padding: 2px;
    border-radius: 3px;
}