.form-signin {
    max-width: 330px;
}

#floatingLogin {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#floatingPassword {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
